*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --text-color:#ffff;
    --bg-url:url(./img-rock/bg-mobile.jpg);
    --stroke-color: rgba(225,225,255,0.5);
    --surface-color: rgba(255,255 ,255 ,0.05);
    --surface-color-hover: rgba(0,0 ,0 ,0.02);
    --high-color: rgba(0,0,0,0.1);
    --switch-bg-url:url(./img-rock/MoonStars.svg)
}

.light{
    --text-color: black;
    --bg-url: url(./img-rock/bg-mobile-light.jpg);
    --stroke-color:rgba(0,0,0,0.5);
    --surface-color: rgba(0 ,0 ,0 ,0.05);
    --surface-color-hover: rgba(0,0 ,0 ,0.02);
    --switch-bg-url:url(./img-rock/sun.svg)
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    font-family: 'Inter', sans-serif;
    
   
}
body *{
    color: var(--text-color);
}

.container-1{
    
    width: 360px;
    margin: 56px auto 0px auto;
    padding: 0 24px;

}

#profile img{
    width: 112px;
    display: block;
    margin: auto;
    
}

#profile p{
    text-align: center ;
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#profile{
    padding: 15px;
}

.switch{
    position: relative;
    width: 64px;
    margin: 10px auto;
    
    
    
}
.switch button{
    width:32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center ;
    position: absolute;
    left: 0;
    z-index:1;
    top:50%;
    transform: translateY(-50%);
    
}

.switch span{
    width:64px;
    display: block;
    height: 24px;
    background: var(--surface-color);
    border: 1px, solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;

}

.light .switch button{
    right: 0;
    left: initial;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0;


}

ul li a{
   background: var(--surface-color);
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    align-items: center;
    color: var(--text-color);
    border: 1px solid var(--stroke-color);
    border-radius: 25px;
    backdrop-filter: blur (4px);
    text-decoration: none;

    transition: background 0.5s;
}

ul li a:hover{
    background:  var(--surface-color-hover);
    border: 1.5px solid #ffff;
}

.social-media {
    display: flex;
    gap: 20px;
    padding: 24px 0;
    justify-content: center;
    transition: 0.2s;
    
}



footer{
    font-style: italic;
    text-align: center;
    padding-top: 5px;
    padding: 24px 0;
}

